{# quoty/src/Quoty/QuoteBundle/Resources/views/Default/add.html.twig #}

{% extends "::index.html.twig" %}

{% block main_container %}
	<div class="row">
		{# Block to repeat #}
		<div class="q-quote-container col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 well">
			<h2>Add a Quote</h2>
			<div class="well">
				The Form soon
			</div>
		</div>
	</div>
{% endblock %}