{# quoty/src/Quoty/QuoteBundle/Resources/views/Default/viewlist.html.twig #}

{% extends "::index.html.twig" %}

{% block main_container %}
	<div class="row">
		<div class="container">
			{% for quote in quotes %}
			<div class="q-quote-container col-xs-12 col-sm-12 col-md-4 col-lg-4">
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{% if is_granted('ROLE_ADMIN') %}
				<div class="pull-right">
					<a href="{{ path('quoty_quote_edit', {'id': quote.id })}}" title="Edit">
						<span class="btn btn-info glyphicon glyphicon-edit"></span>
					</a>
					<a href="{{ path('quoty_quote_delete', {'id': quote.id })}}" title="Delete">
						<span class="btn btn-warning glyphicon glyphicon-remove"></span>
					</a>
				</div>
				{% endif %}
				{% endif %}
				<blockquote class="well">
					<p>« {{ quote.content}} »
					</p>
					<footer>
						<cite>{{ quote.author }}</cite>
					</footer>
				</blockquote>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}